<p id="notice"><%= notice %></p>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p>
  <% if @user.admin %>
    <%= @user.name %> is an <strong>ADMIN</strong>.
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
