<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this passage from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>

    <%= f.hidden_field :user_id, :value => @child.user_id %>
    <%= f.hidden_field :parent_id, :value => @passage.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
