<h1>Listing passages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Prompt</th>
      <th>Text</th>
      <th>Parent</th>
      <th>Lft</th>
      <th>Rgt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passages.each do |passage| %>
      <tr>
        <td><%= passage.user_id %></td>
        <td><%= passage.prompt_id %></td>
        <td><%= passage.text %></td>
        <td><%= passage.parent_id %></td>
        <td><%= passage.lft %></td>
        <td><%= passage.rgt %></td>
        <td><%= link_to 'Show', passage %></td>
        <td><%= link_to 'Edit', edit_passage_path(passage) %></td>
        <td><%= link_to 'Destroy', passage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Passage', new_passage_path %>
