<h1><i class="fa fa-book"></i> stories</h1>

<%= link_to 'Start a new one!', new_passage_path %>

<div class="stories">
  <% @passages.each do |passage| %>
    <div class="story">
      <div class="triangle-isosceles">
        <h3 class="title"><%= passage.title %></h3>
        <h3 class="author">
          By <span class="userName"><%= link_to passage.user.name, user_path(passage.user) %></span>
        </h3>
        <%= gravatar_for(passage.user) %>
        <p class="contrib passages"><%= passage.text %></p>
        <%= link_to 'Read More', passage, :class => 'toPassage' %>
      </div>
    </div>
  <% end %>
</div>